* {
    box-sizing: border-box;
    margin: 0vw;
    padding: 0vw;
    border: 0vw;
    text-decoration: none;
}
body {
    background-color: rgb(22, 75, 247);
}
header{
    margin: 2vw 2vw;
    font-size: 2vw;
    font-family: Helvetica;
    color: white;
}
.trigonometria {
    background-color: whitesmoke;
    margin: 1vh 5vw;
    height: 30vw;
    width: 90%;
}
.trigonometria h3 {
    font-size: 2.5vw;
    text-align: center;
    padding: 2vw 1vw;
}
.calcTrigonometria {
    margin: 0vw 2vw;
    display: flex;
    justify-content: space-between;
}
.inputs {
    display: grid;
    grid-template-columns: 15vw;
}
.inputs div {
    height: 5vw;
    width: 20vw;
}
.inputs label {
    font-family: Helvetica;
    font-size: 2.5vw;
}
.inputs input {
    height: 2vw;
    width: 20vw;
    border-radius: 1vw;
    background-color: skyblue;
    text-align: center;
}
.buttons {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    gap: 1vw;
}
.buttons button {
    border-radius: 2vw;
    background-color: rgb(22, 247, 60);
    font-family: Helvetica;
    font-size: 1.8vw;
    height: 10vw;
    width: 20vw;
    transition: all 0.5s;
}
.buttons button:hover {
    background-color: rgb(17, 219, 51);
}